
.center-custom{ margin: auto;}

/* css Portal */

#portal{background: url(../images/Portal.png); width: 100%; height: 100%; position: fixed;}
#btn-DARE{padding: 5px;position: relative;right: 6.3em;top: 4.3em;border-bottom: 6px solid #2C2A7C;color: #525252;font-size: 1.2em;text-decoration: none; transition: all .3s ease-in-out;}
#btn-DARE:hover{background: rgba(211, 204, 204, 0.24); color: #333;transition:.3s;}

#btn-DARE-fixed{background: #2C2A7C;color: #FFF;padding: 15px 20px 10px;top: 20em;position: relative;left:6.4em;box-shadow: -7px 0px 0px rgba(20, 12, 94, 1);border-radius: 7px; text-decoration: none; width: 120px; border-top: 7px solid rgba(20, 12, 94, 1);transition: all .3s ease-in-out;}
#btn-DARE-fixed div{margin: 14px auto;}
#btn-DARE-fixed:hover{transition:.3s; background:#F9C900; color: #333; box-shadow: -7px 0px 0px rgba(240, 185, 40, 1); border-top: 7px solid rgba(240, 185, 40, 1);}

/* css Login */

#bg-login{background: url(../images/bg-login.png) center ; width: 100%; height: 100%;background-size: cover; position: absolute;}
.vertical-offset{padding-top: 8em;}
.well-HelmerP{background: #2C2A7C; margin-bottom:0; border-radius: 10px;}
.well-HelmerP {color: #FFF;}
.well-login {box-shadow: 0px 0px 10px #000;-moz-box-shadow: 0px 0px 10px #000;-webkit-box-shadow: 0px 0px 10px #000; border-radius:0; background: #FFF; margin-bottom: 0;}
.arrow-up{font-size: 3em;margin: 0;padding: 0;color: #FFF;position: relative;top: 0.4em;}
.h2-login{color: #FFF; margin: 0;-moz-text-shadow:2px 2px 1px #342F2F;-webkit-text-shadow: 2px 2px 1px #342F2F;text-shadow: 2px 2px 1px #342F2F;}
#logo{padding:10px; }

#user .tooltip-inner, #key .tooltip-inner {color: #000;background:#fcf8e3; font-style: italic;border: solid 1px #fcf8e3;-moz-box-shadow:2px 2px 1px 2px #342F2F;-webkit-box-shadow: 2px 2px 1px 2px #342F2F;box-shadow: 2px 2px 1px 2px #342F2F;}
#user .tooltip.top .tooltip-arrow, #key .tooltip.top .tooltip-arrow {bottom: 0;left: 50%;margin-left: -5px;border-top-color: #fcf8e3;border-width: 5px 5px 0;}
#info-navbar {font-weight: 500;color: #908C8C;padding-top: 15px;}
#user .alert, #key .alert {margin-top: 10px;}

#wrapper .tooltip-inner{color: #000;background:#fcf8e3; font-style: italic;border: solid 1px #fcf8e3;-moz-box-shadow: 0px 1px 15px 5px rgba(0,0,0,.25);-webkit-box-shadow: 0px 1px 15px 5px rgba(0,0,0,.25);box-shadow: 0px 1px 15px 5px rgba(0,0,0,.25);}
#wrapper .tooltip.bottom .tooltip-arrow {top:0;left: 50%;border-bottom-color:#fcf8e3;border-width: 0 8px 8px; position: relative;}


#box-login{box-shadow: 1px 0px 7px #ccc;border-radius: 10px;padding: 15px;}
.well-landing{background: #FFF;height: 380px;}
.well-landing .fa-search {color:#F7CB00;}
.well-landing .fa-bar-chart {color:#228A2D;}
.well-landing .fa-file-text-o, .well-landing .fa-cog {color:#2B2781;}

#search-icon, #bar-icon, #file-icon {font-size: 7em;width: 2.0em;height: 2.0em;border-radius: 2.35em;margin: auto;}
#search-icon{border: 0.2em solid #F7CB00;}
#bar-icon{border: 0.2em solid #228A2D;}
#file-icon{border: 0.2em solid #2B2781;}
.well-info-landing{margin-bottom: 0;border-radius: 0;}

.altura-asignatura{height: 285px;}



/* Login social */

.login-network .SocialButtons a {color: white;opacity:0.9;}
.login-network .SocialButtons a:hover {color: white;opacity:1;}
.login-network .SocialButtons .btn-facebook {background: #3b5998;}
.login-network .SocialButtons .btn-twitter {background: #00aced;}
.login-network .SocialButtons .btn-google {background: #c32f10;}

.hrOr {background-color: #cdcdcd;height: 1px;}
.spanOr {position: relative;left: 50%;top:-32px;margin-left: -5.5em;background-color: white;padding: 0 10px;}
.option-login {margin-top:10px;}			
.option-login .checkbox {margin: 0;}	


/* Footer */

.footer-dare {background: #2C2C2C;position: relative;z-index: 1;}		
.footer-dare img {margin: 20px 0;}

/* Home */

#home-admin .navbar {margin-bottom:0; border: none;z-index: 9999;border-radius: 0;}
#home-admin .navbar-header{margin-right: 10px;}
#home-tutor .navbar {margin-bottom:0; border: none;}
#home-tutor .navbar-header{margin-right: 10px;}
#home-student .navbar {margin-bottom:0; border: none;}
#home-student .navbar-header{margin-right: 10px;}
#home-teacher .navbar {margin-bottom:0; border: none;}
#home-teacher .navbar-header{margin-right: 10px;}
#wizard .navbar {margin-bottom:0; border: none;}
#wizard .navbar-header{margin-right: 10px;}


#wrapper {padding-left: 250px;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;width: 100%;height: 100%; background: -webkit-linear-gradient(#D5D2D2, #F2EFEF); background: -o-linear-gradient(#D5D2D2, #F2EFEF); background: -moz-linear-gradient(#D5D2D2, #F2EFEF); background: linear-gradient(#D5D2D2, #F2EFEF);}


#wrapper.toggled {padding-left: 0px;}

#sidebar-wrapper {color: #FFF; z-index: 1000;position: absolute; left: 250px; height: 100%; margin-left: -250px; overflow-y: auto; background: #2C2A7C; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}

/*#wrapper.toggled #sidebar-wrapper {width: 250px;} */

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: 250px;
    top: 0;
    position: fixed;
}

/* Sidebar */

.sidebar-nav {position: absolute;top: 0;width: 250px;margin: 0;padding: 0;list-style: none;}
.sidebar-nav li {text-indent: 20px;line-height: 40px;}
.sidebar-nav li a {display: block;text-decoration: none;color: #FFF;}
.sidebar-nav li a:hover {text-decoration: none;color: #fff;}
.sidebar-nav li a:active, .sidebar-nav li a:focus {text-decoration: none;}
.sidebar-nav > .sidebar-brand {height: 65px;font-size: 18px;line-height: 60px;top: 70px;position: relative;}
.sidebar-nav > .sidebar-brand:after {top: 70px;position: relative;}
.sidebar-nav > .sidebar-brand a {color: #FFF; background: rgba(18, 18, 19, 0.17); }
.sidebar-nav > .sidebar-brand a:hover {color: #fff;background: rgba(18, 18, 19, 0.53);}



/* End Sidebar */

/* Home Panel */

.title-h2{color: rgba(255, 255, 255, 0.94);text-shadow: 1px 0px 6px #151313;padding: 10px 31px;background: rgb(38, 52, 82);border-radius: 5px;}


.actividad-reciente {margin-top: 20px; overflow: hidden; clear: both; margin-bottom: 20px;}
.bg-actividad-reciente{background: #3E79BB;color: #fff; padding-top: 1em;}
.bg-actividad-reciente  a {margin: 20px 0; transition: 0.4s;}
.bg-actividad-reciente-info{background: white;} 
#reportes-estudiantes .bg-actividad-reciente-info, #test-online-estudiantes .bg-actividad-reciente-info {background: #F0F0F0;} 
.bg-actividad-online{background: #C71D38;color: #fff;}
.bg-actividad-online .btn-success{background-color: #F53367;border-color: #F53367;}
.bg-actividad-online .btn-success:hover{background-color: #DA3964;border-color: #DA3964;}






/* Menu Small */

.style-menu-small {margin: 10px -8px;}
#menu-small {margin: 0;max-height: 72px;overflow: hidden;}


/* Menu Desktop */


.panel-green, .panel-blue, .panel-yellow, .panel-red{color: #FFF; z-index: 2;}

.panel-green{ background: #0A8A3C;}
.panel-blue{ background: #2C2A7C;}
.panel-yellow{background: #F9C900;}
.panel-red{background: #D21E22;}


.panel-yellow span {text-shadow: 0px 1px 5px #806922;}
.panel-green span {text-shadow: 0px 1px 5px #31562B;}
.panel-blue span {text-shadow: 0px 1px 5px #091145;}
.panel-red span {text-shadow: 0px 1px 5px #5A0A1F;}

.panel-blue a:hover {text-decoration: none;}


.panel-shadow {box-shadow: 1px 1px 10px 0px #8E8B8B;-webkit-box-shadow: 1px 1px 10px 0px #8E8B8B;-moz-box-shadow: 1px 1px 10px 0px #8E8B8B;border: none;}

.question-style {margin-right: 10px;position: relative;top: -58px;color: #999;}
#menu-desktop {margin-top: 2em;}
#menu-desktop .panel-heading {border: none;}
#menu-desktop a {color: #333; text-decoration: none;}
#menu-desktop a.fade-green:hover{text-decoration: none;color: #0A8A3C;-webkit-transition-duration: 0.6s; -moz-transition-duration: 0.6s; transition-duration: 0.6s;}
#menu-desktop a.fade-blue:hover{text-decoration: none;color: #2C2A7C;-webkit-transition-duration: 0.6s; -moz-transition-duration: 0.6s; transition-duration: 0.6s;}
#menu-desktop a.fade-yellow:hover{text-decoration: none;color: #F9C900;-webkit-transition-duration: 0.6s; -moz-transition-duration: 0.6s; transition-duration: 0.6s;}
#menu-desktop a.fade-red:hover{text-decoration: none;color: #D21E22;-webkit-transition-duration: 0.6s; -moz-transition-duration: 0.6s; transition-duration: 0.6s;}






.admin-style{background: #2C2A7C; color: white; overflow: hidden;}
.tutor-style{background: #D21E22; color: white; overflow: hidden;}
.student-style{background: #0A8A3C; color: white; overflow: hidden;}
.teacher-style{background: #F9C900; color: white; overflow: hidden;}

.name-user{padding-top:12px;}
.admin-style .sing-out { padding: 20px; background: #2F3893; padding-bottom: 3000px;margin-bottom: -3000px;}
.student-style .sing-out { padding: 20px; background: #19B33E;padding-bottom: 3000px;margin-bottom: -3000px;}
.tutor-style .sing-out { padding: 20px; background: #B31919;padding-bottom: 3000px;margin-bottom: -3000px;}
.teacher-style .sing-out { padding: 20px; background: #E0B017;padding-bottom: 3000px;margin-bottom: -3000px;}
.sing-out a{ color: #FFF;}

.logoSchool {padding-top: 10px;}
.nameSchool {padding-top: 20px;}

#menu-toggle {border-radius: 0 5px 5px 0}

.avatar-default {width: 100%; padding: 6px;}


/* Wizard */


.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {display: table;width: 100%; position: relative; background: rgb(38, 52, 82);border-radius: 10px;padding-top: 10px;color: #fff;}


.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 21px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 80%;
    height: 9px;
    background-color: rgba(202, 216, 223, 0.08);
    margin-left:9%;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.cantidad{width: 100%; color: #000;text-align: center;border: 2px solid #1F4D79;}

.setup-content{margin-top: 10px;}

.well-form{margin-top: 15px;border-radius: 10px;}


/* styles general */

.btn-back-admin, .btn-back-admin:hover{background: #2C2A7C; color: #FFF; padding: 5px;}
.btn-back-teacher, .btn-back-teacher:hover{background: #F9C900; color: #FFF; padding: 5px;}
.btn-back-tutor, .btn-back-tutor:hover{background: #D21E22; color: #FFF; padding: 5px;}
.btn-back-student, .btn-back-student:hover{background: #0A8A3C; color: #FFF; padding: 5px;}

.btn-back-admin span, .btn-back-admin span:hover {vertical-align: super; text-decoration: none;}

.box-heading {margin-bottom: 1em; height: 56px;}
.box-heading div:first-child {float: left;}
.box-heading h3 {margin: 0; padding-top: 0.6em;}

.mg-custom-left{margin-left: 1em;}

.equal-height {overflow: hidden;}
.equal-height> div {padding-bottom: 32767px;margin-bottom: -32767px;}
.img-center { margin: 0 auto;}

.btn_back {padding: 0;}
.btn-tour-custom{background: #E8810C;margin-top: 0.9em;color: white; -webkit-transition:  1s ease;-moz-transition:  1s ease;-ms-transition:  1s ease;-o-transition:  1s ease;transition:  1s ease}
.btn-tour-custom:hover, .btn-tour-custom:focus{background: #2C2A7C; color: #FFF;}

/* footer en Reportes */

#wp-page {min-height:100%;position:relative;background: linear-gradient(#D5D2D2, #F2EFEF);}
#body {padding:10px;padding-bottom:100px;  /* Altura del footer */}
#footer {position:absolute;bottom:0;width:100%;height:100px;/* Altura del footer */}


/* lista de evaluaciones */

#mis-evaluaciones { background: #FFF; margin-bottom: 1em;border-radius: 5px;}

.search-evaluation { overflow: hidden; padding: 1em;}
.search-evaluation > span { float: left; margin-right: 1em; padding-top: 6px;}

.items {border-right: 1px solid #CCC; }
.items h4 {margin: 0;}
.items ul li {margin: 5px 0;}

.status { margin: 0;}
.status .panel-title {font-size: 13px;}
.bodyAsignature-custom {padding: 5px 10px;}
.headingAsignature-custom {padding: 5px;}

.height-100 {padding-bottom: 100%;margin-bottom: -100%;}

.btn-edit-evaluation {padding: 5px 3px; border-radius: 50%;}
.items .dropdown-menu>li>a:hover, .items .dropdown-menu>li>a:focus {background: #3071a9; color: #FFF;}
.column-custom {border-right: 1px solid #CCC;padding-top: 1em;}


/* Methods */
.method .equal-height> div {border-right: 1px solid #ccc;}
.method .header {padding: 1em; }
.method .list-header .header {font-weight: normal;text-transform: uppercase;font-size: 1em;color: #FFF;background-color: #2C2A7C; }
.method [class^="row"],.method [class*="row"] {border-top: 1px solid #ddd; }
.method [class^="row"]:hover,.method [class*="row"]:hover {background-color: #f7f7f7; }
.method .cell .mobile-isrequired {display: none;font-weight: normal;text-transform: uppercase;color: #aaa;font-size: 0.8em; }
.method .cell .propertyname, .method .cell .type {padding: 1em;}
.method .cell code {color: #428bca; }
.method .cell a, .method .cell a:hover {text-decoration: none; }
.method .cell code.custom {color: #8a6d3b;text-decoration: none; }
.method .cell .text-muted {color: #ddd; }

@media (max-width: 991px) {
.method [class^="row"], .method [class*="row"] {padding-top: 10px;padding-bottom: 10px; }
.method .cell {padding: 0 10px; }
.method .cell .propertyname {font-weight: bold;font-size: 1.2em; }
.method .cell .propertyname .lookuplink {font-weight: normal;font-size: 1.5em;position: absolute;top: 0;right: 10px; }
.method .cell .type {padding-left: 10px;font-size: 1.1em; }
.method .cell .isrequired {padding-left: 10px;display: none; }
.method .cell .description {padding-left: 10px; }
.method .cell .mobile-isrequired {display: inline; }
}

/* Row Utilities */
  [class^='row'].margin-0 > [class^='col-'],
  [class^='row'].margin-0 > [class*='col-'],
  [class*='row'].margin-0 > [class^='col-'],
  [class*='row'].margin-0 > [class*='col-'],
  [class^='form-group'].margin-0 > [class^='col-'],
  [class^='form-group'].margin-0 > [class*='col-'],
  [class*='form-group'].margin-0 > [class^='col-'],
  [class*='form-group'].margin-0 > [class*='col-'] {
    padding-right: 0px;
    padding-left: 0px; }
  [class^='row'].margin-0 [class^='row'],
  [class^='row'].margin-0 [class*='row'],
  [class^='row'].margin-0 [class^='form-group'],
  [class^='row'].margin-0 [class*='form-group'],
  [class*='row'].margin-0 [class^='row'],
  [class*='row'].margin-0 [class*='row'],
  [class*='row'].margin-0 [class^='form-group'],
  [class*='row'].margin-0 [class*='form-group'],
  [class^='form-group'].margin-0 [class^='row'],
  [class^='form-group'].margin-0 [class*='row'],
  [class^='form-group'].margin-0 [class^='form-group'],
  [class^='form-group'].margin-0 [class*='form-group'],
  [class*='form-group'].margin-0 [class^='row'],
  [class*='form-group'].margin-0 [class*='row'],
  [class*='form-group'].margin-0 [class^='form-group'],
  [class*='form-group'].margin-0 [class*='form-group'] {
    margin-left: 0;
    margin-right: 0; }


/* Profile */

.profile-custom{margin-bottom: 1em;}
.avatar {width: 50%;}
.personal-info-admin {background: #2C2A7C; color: #FFF; border-radius: 10px; padding: 2em;}
.personal-info-teacher {background: #E0B70B; color: #FFF; border-radius: 10px; padding: 2em; text-shadow: 0px 1px 5px #000;}
.personal-info-tutor {background: #D21E22; color: #FFF; border-radius: 10px; padding: 2em;}
.personal-info-student {background: #0A8A3C; color: #FFF; border-radius: 10px; padding: 2em;}
.form-horizontal .control-label{font-weight: 300;}


/* label - badges Bootstrap  custom */

.badge {padding: 7px 10px; margin: 0px 5px; vertical-align: middle;} 
.badge:hover {color: #ffffff; text-decoration: none; cursor: pointer;} 
.badge-danger {background-color: #b94a48;} 
.badge-danger:hover {background-color: #953b39;} 
.badge-warning {background-color: #f89406;} 
.badge-warning:hover {background-color: #c67605;} 
.badge-success {background-color: #468847;}
.badge-success:hover {background-color: #356635;} 
.badge-info {background-color: #3a87ad;} 
.badge-info:hover {background-color: #2d6987;} 
.badge-inverse {background-color: #333333;} 
.badge-inverse:hover {background-color: #1a1a1a;}


/* Tabs - for Bootstrap custom */
.tabbable-panel {margin-bottom: 20px;}
.tabbable-line > .nav-tabs {border: none; margin: 0px; } 
.tabbable-line > .nav-tabs > li {margin-right: 2px; } 
.tabbable-line > .nav-tabs > li > a {border: 0; margin-right: 0; color: #737373; padding: 5px;} 
.tabbable-line > .nav-tabs > li > a > i {color: #a6a6a6; } 
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {border: 0; background: none !important; color: #333333; } 
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {color: #a6a6a6; } 
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {margin-top: 0px; } 
.tabbable-line > .nav-tabs > li.active:hover {background: #FFF; border-radius: 5px 5px 0 0;} 
.tabbable-line > .nav-tabs > li.active > a {border: 0; color: #333333; } 
.tabbable-line > .nav-tabs > li.active > a > i {color: #404040; } 
.tabbable-line > .tab-content {background-color: #fff; border: 0; } 
.portlet .tabbable-line > .tab-content {padding-bottom: 0; }

.nav-mis-evaluaciones .badge {pointer-events: none;}

/* Responsive */


@media (max-width: 480px) {
#portal{background: url(../images/Portal.png); width: 100%; height: 100%;}
.container-fluid{padding: 0;}	
#wrapper{padding-left: 0px;}
.admin-style{margin-top: 3%;overflow: hidden;}
.login-network .SocialButtons a{margin: 5px 0;}
#box-login{margin-bottom: 1em;}
#mis-evaluaciones { border-radius: 0;}
.items, .method .equal-height> div {border: 0px;}
.only-mobile .items {border-top: 1px solid #ccc;padding-top: 1em;}
.only-mobile .information-evaluation {background: #E1F6FF;}
.column-custom{border: 0; padding-top: 0;}
.admin-style .sing-out{padding-bottom: 32767px;margin-bottom: -32767px;}
#page-content-wrapper{padding: 0;}
#home-admin .title-h2 {border-radius: 0;}
#progressbar li span {display: none;}
.btn-profile input {margin: 5px;width: 100%;}
.change-photo input { width: 100%;}
#footer{position: relative;}
.btn-upload-question, .btn-choose-question { padding: 10px 0 5px 0;}
.tabbable-line > .nav-tabs > li {width: 50%; margin: 0; text-align: center; } 
#reportes-estudiantes .bg-actividad-reciente-info, #test-online-estudiantes .bg-actividad-reciente-info {background: #FFF;}
.altura-asignatura{height: inherit;}
.well-icfes h3, .well-adicionales h3 {font-size: larger;}
.btn-add-asignature { margin-bottom: 1em !important;}
.well-landing {height: 100%;} 
}

@media (max-width: 767px) {
.login-network .SocialButtons a{margin: 5px 0;}
#box-login{margin-bottom: 1em;}
}

@media only screen and (min-width: 768px) { 
#wrapper {padding-left: 0px;}
#wrapper.toggled {padding-left: 250px;}
#sidebar-wrapper {width: 0px;}
#wrapper.toggled #sidebar-wrapper {width: 250px;top: 0;position: fixed;}
#page-content-wrapper {padding: 20px;}
#wrapper.toggled #page-content-wrapper {position: relative; margin-right: 0;} 
}

@media (min-width: 768px) and (max-width: 979px) { 
.login-network .SocialButtons a{margin: 5px 0;}
#box-login{margin-bottom: 1em;}
}

.title-reporte {
color: #FFF;
background: rgb(38, 52, 82);
padding: 10px;
border-radius: 10px;}


.btn-slide-index{height: 9.7em;width: 28em;position: absolute;top: 26.2em;left: 12em;}



.reporte-grados a {display:block;position:relative;}
.reporte-grados .fa-search-plus { font-size: 60px; opacity: 0.6; position: absolute; right: 39%; top: 31%;text-shadow: 0 1px 3px rgba(0,0,0,.5);}

